.form-control{
    background-color: #F5F5F5 !important;
}



.btn{
    font-size: 15px !important;
    transition: transform 0.1s ease !important;
}
.btn:active{
    transform: scale(0.95) !important;
}