<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Threads - ForgotPassword</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="node_modules/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="./threads-logo.png" type="image/icon type">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div class="flex flex-col items-center justify-center flex-grow min-h-screen bg-white">
        <!-- Logo -->
        <a href="./index.html"><i class="fa-brands fa-threads fa-3x"></i></a>
        <div class="text-center w-full max-w-[386px] sm-custom:max-w-[418px] p-6 gap-0 mb-2">
            
            <!-- Heading -->
            <h1 class="mb-2 text-xl font-bold">Forgot password</h1>

            <p class="mb-4 opacity-40">Enter your email address and we'll send you a link to reset your password.
            </p>

            <!-- Form -->
            <form class="flex flex-col gap-2" method="POST" action="">
                <!-- Email Input -->

                <div>
                    <label for="email" class="sr-only">Email</label>
                    <input 
                        type="email" 
                        id="Email"
                        class="form-control bg-[#F5F5F5] w-full p-4 outline-none rounded-xl 
                        name="email" 
                        placeholder="Email" 
                        required
                    >
                </div>
                

                <!-- Submit Button -->
                <!-- Web tĩnh nên tạm thời sử dụng type = button
                        và dùng onclick điều hướng đến trang chủ, coi như đã đăng nhập -->
                <button id="send-button" type="button"
                    class="w-full p-4 font-medium text-white bg-black text-opacity-40 rounded-2xl"
                    onclick="window.location.href='./resetPassword.html'">
                    Send a reset link
                </button>
            </form>


            <!-- Or divider -->
            <div class="flex items-center py-5 mt-4">
                <hr class="flex-grow">
                <small class="mx-2 opacity-40 ">Remembered password</small>
                <hr class="flex-grow">
            </div>


            <!-- Signup Redirect -->
            <button id="login-button" type="button"
                    class="w-full p-4 font-medium text-white bg-black rounded-2xl"
                    onclick="window.location.href='./login.html'">
                    Log in
            </button>
        </div>
    </div>

    <script>
        document.querySelectorAll('.form-control').forEach(input => {
            input.addEventListener('focus', () => {
                input.classList.add('border', 'border-gray-300');
            });
            input.addEventListener('blur', () => {
                input.classList.remove('border', 'border-gray-300');
            });
        });

        document.querySelectorAll('.form-control').forEach(input => {
            input.addEventListener('input', () => {
                const allFilled = Array.from(document.querySelectorAll('.form-control')).every(input => input.value);
                if (allFilled) {
                    document.getElementById('send-button').classList.remove('text-opacity-40');
                } else {
                    document.getElementById('send-button').classList.add('text-opacity-40');
                }
            });
        });
    </script>
</body>

</html>