<body>
    <button
        class="fixed top-4 right-4 z-10 bg-black text-white text-center font-medium rounded-xl px-4 py-2 hover:scale-95">Log
        in</button>

    <div class="fixed w-20 h-screen flex flex-col justify-between p-3" id="sidebar">
        <logo class="z-20 p-4 hover:scale-110">
            <a href="/">
                <img src="/images/logo.png" alt="Simple Threads">
            </a>
        </logo>

        <div class="flex flex-col gap-4" id="menu">
            <div class="p-4 rounded-xl hover:scale-110 hover:bg-gray-200" id="home-icon">
                <a href="/"><img src="/images/home.png" alt="Home"></a>
            </div>
            <div class="p-4 rounded-xl hover:scale-110 hover:bg-gray-200 opacity-50" id="search-icon">
                <a href="/search"><img src="/images/search.png" alt="Search"></a>
            </div>
            <div class="p-4 rounded-xl hover:scale-110 hover:bg-gray-200 opacity-50" id="create-icon">
                <img src="/images/create.png" alt="Create">
            </div>
            <div class="p-4 rounded-xl hover:scale-110 hover:bg-gray-200 opacity-50" id="heart-icon">
                <img src="/images/heart.png" alt="Follow">
            </div>
            <div class="p-4 rounded-xl hover:scale-110 hover:bg-gray-200 opacity-50" id="user-icon">
                <img src="/images/user.png" alt="Profile">
            </div>
        </div>

        <div class="p-4 rounded-xl hover:scale-110 hover:bg-gray-100">
            <img src="/images/more.png" alt="More">
        </div>
    </div>

    <div class="fixed z-10 left-1/2 -translate-x-1/2 w-1/2 flex justify-center gap-4 p-4 bg-white border-b border-gray-300" id="options">
        <div class="w-1/2 rounded-xl p-4 text-center hover:bg-gray-200 cursor-pointer" id="all">All</div>
        <div class="w-1/2 rounded-xl p-4 text-center hover:bg-gray-200 cursor-pointer" id="following">Following</div>
    </div>

    <div class="absolute top-20 left-1/2 -translate-x-1/2 w-1/2 mt-2 border-l border-r border-gray-300" id="feeds">
        <div class="p-4 flex place-items-center" id="question">
            <div class="basis-1/12 min-w-10">
                <img src="/images/avatar.png" alt="Avatar">
            </div>
            <span class="text-gray-400 leading-none p-4">How are you today?</span>
            <button
                class="absolute right-4 bg-white text-center font-medium rounded-xl px-4 py-2 hover:scale-95 border border-gray-300 leading-none">Post</button>
        </div>

        <div class="p-4 flex border-t border-gray-300" id="thread">
            <div class="basis-1/12 min-w-10 bg-red-200" id="thread-avatar">
                <img src="/images/avatar.png" alt="Avatar">
            </div>
            <div class="basis-11/12 px-4 bg-blue-300">
                <div class="flex gap-2">
                    <div class="font-medium">
                        nhatminh.22clc
                    </div>
                    <div class="text-gray-300">
                        2h
                    </div>
                </div>
                <div>
                    <p>
                        Nhật Minh
                        <br>
                        22CLC09
                        <br>
                        Phát triển ứng dụng web
                    </p>
                </div>
                <div class="flex gap-2 place-items-center">
                        <img class="w-4 h-fit" src="/images/heart.png" alt="">
                        <span class="leading-none">10</span>
                        <img class="w-4 h-fit" src="/images/comment.png" alt="">
                        <span class="leading-none">1</span>
                    </div>
                </div>
            </div>
        </div>
    {{!-- <div class="create-overlay">
        <div class="create-box">
            <button id="close-create">Cancel</button>
            <div class="create-header">
                <p>New thread</p>
            </div>
        </div>
    </div> --}}
</body>

<script>
    document.getElementById("create-icon").addEventListener("click", function () {
        document.querySelector(".create-screen").style.display = "block";
        document.body.style.overflow = "hidden";
    });

    document.getElementById("close-create").addEventListener("click", function () {
        document.querySelector(".create-screen").style.display = "none";
        document.body.style.overflow = "auto";
    });
</script>

</html>