{{> navbar}}
{{> post-button}}

{{!-- Login button --}}
{{#if isLoggedIn }}
{{else}}
<a href="/login">
    <button id="login-button"
        class="fixed z-20 px-4 py-2 font-medium leading-none text-center text-white bg-black top-4 right-4 rounded-xl hover:scale-95">
        Log in
    </button>
</a>
{{/if}}

{{!-- All/Following Options --}}
<div id="options"
    class="fixed top-0 z-10 flex justify-center w-full -translate-x-1/2 bg-white left-1/2 md:w-1/2 md:py-1 pt-14 md:bg-lotion dark:md:bg-vampire-black dark:bg-eerie-black">
    <div class="w-1/2 md:w-[320px] md:min-w-[320px] md:rounded-xl py-4 text-center font-medium cursor-pointer border-b-2 border-black md:border-none md:hover:bg-gray-200"
        id="all">All</div>
    <div class="w-1/2 md:w-[320px] md:min-w-[320px] md:rounded-xl py-4 text-center font-medium cursor-pointer border-b-2 border-black opacity-40 md:border-none md:hover:bg-gray-200"
        id="following">Following</div>
</div>

{{!-- Main container --}}
<div class="flex justify-center h-screen mt-10 overflow-hidden main-container">
    <div id="feeds"
        class="shadow-lg bg-white dark:bg-eerie-black w-full h-full md:w-[640px] border-light-gray dark:border-charleston-green border rounded-t-3xl overflow-y-auto md:mt-6 mt-16 pb-36 md:pb-10"
        style="scrollbar-width: none;">
        <div class="relative items-center hidden p-4 md:flex" id="question">
            <div class="basis-1/12 min-w-10">
                <a href="/profile"><img class="rounded-full" src="/images/avatar.jpg" alt="Avatar"></a>
            </div>
            <span class="p-4 leading-none cursor-pointer opacity-40" onclick="createNewThread()">How are you
                today?</span>
            <button
                class="absolute px-4 py-2 font-medium leading-none text-center bg-white border right-4 dark:bg-eerie-black rounded-xl hover:scale-95 border-light-gray dark:border-charleston-green"
                onclick="createNewThread()">Post
            </button>
        </div>

        <div class="flex p-4 pb-1 border-t border-light-gray dark:border-charleston-green" id="thread1">
            <a href=""></a>
            <div class="basis-1/12 min-w-10" id="thread-avatar">
                <a href="./other-profile.html?userId=1"><img class="rounded-full" src="/images/avatar.jpg"
                        alt="Avatar"></a>
            </div>
            <div class="px-4 basis-11/12">
                <div class="flex gap-2">
                    <div class="font-medium hover:underline">
                        <a href="./other-profile.html?userId=1">nhatminh.22clc</a>
                    </div>
                    <div class="opacity-40">
                        2 minutes ago
                    </div>
                </div>
                <a href="./post.html">
                    <p>
                        Nhật Minh
                        <br>
                        22127269
                        <br>
                        Phát triển ứng dụng web
                    </p>
                </a>
                <div class="flex gap-2 place-items-center">
                    <div class="rounded-3xl hover:bg-[#f0f0f0] cursor-pointer px-3 py-2">
                        <i class="fa-regular fa-heart"></i>
                        <span>10</span>
                    </div>
                    <div class="rounded-3xl hover:bg-[#f0f0f0] cursor-pointer px-3 py-2">
                        <i class="cursor-pointer fa-regular fa-comment"></i>
                        <span class="leading-none">1</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex p-4 pb-1 border-t border-light-gray dark:border-charleston-green" id="thread2">
            <div class="basis-1/12 min-w-10" id="thread-avatar">
                <a href="./other-profile.html?userId=2"><img class="rounded-full" src="./images/avatar.jpg"
                        alt="Avatar"></a>
            </div>
            <div class="px-4 basis-11/12">
                <div class="flex gap-2">
                    <div class="font-medium hover:underline">
                        <a href="./other-profile.html?userId=2">vanminh.22clc</a>
                    </div>
                    <div class="opacity-40">
                        5 minutes ago
                    </div>
                </div>
                <a href="./post.html">
                    <p>
                        Văn Minh
                        <br>
                        22127272
                        <br>
                        Phát triển ứng dụng web
                    </p>
                </a>
                <div class="flex gap-2 place-items-center">
                    <div class="rounded-3xl hover:bg-[#f0f0f0] cursor-pointer px-3 py-2">
                        <i class="fa-regular fa-heart"></i>
                        <span>10</span>
                    </div>
                    <div class="rounded-3xl hover:bg-[#f0f0f0] cursor-pointer px-3 py-2">
                        <i class="cursor-pointer fa-regular fa-comment"></i>
                        <span class="leading-none">1</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex p-4 pb-1 border-t border-light-gray dark:border-charleston-green" id="thread3">
            <div class="basis-1/12 min-w-10" id="thread-avatar">
                <a href="./other-profile.html?userId=3"><img class="rounded-full" src="./images/avatar.jpg"
                        alt="Avatar"></a>
            </div>
            <div class="px-4 basis-11/12">
                <div class="flex gap-2">
                    <div class="font-medium hover:underline">
                        <a href="./other-profile.html?userId=3">thanhnam.22clc</a>
                    </div>
                    <div class="opacity-40">
                        1 hour ago
                    </div>
                </div>
                <a href="./post.html">
                    <p>
                        Thanh Nam
                        <br>
                        22127286
                        <br>
                        Phát triển ứng dụng web
                    </p>
                </a>
                <div class="flex gap-2 place-items-center">
                    <div class="rounded-3xl hover:bg-[#f0f0f0] cursor-pointer px-3 py-2">
                        <i class="fa-regular fa-heart"></i>
                        <span>10</span>
                    </div>
                    <div class="rounded-3xl hover:bg-[#f0f0f0] cursor-pointer px-3 py-2">
                        <i class="cursor-pointer fa-regular fa-comment"></i>
                        <span class="leading-none">1</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex p-4 pb-1 border-t border-light-gray dark:border-charleston-green" id="thread4">
            <div class="basis-1/12 min-w-10" id="thread-avatar">
                <a href="./other-profile.html?userId=4"></a><img class="rounded-full" src="./images/avatar.jpg"
                    alt="Avatar">
            </div>
            <div class="px-4 basis-11/12">
                <div class="flex gap-2">
                    <div class="font-medium hover:underline">
                        <a href="./other-profile.html?userId=4">_trustmebro_</a>
                    </div>
                    <div class="opacity-40">
                        1 day ago
                    </div>
                </div>
                <a href="./post.html">
                    <p>
                        Hellooooo.
                        My name is ABC.
                    </p>
                </a>
                <div class="flex gap-2 place-items-center">
                    <div class="rounded-3xl hover:bg-[#f0f0f0] cursor-pointer px-3 py-2">
                        <i class="fa-regular fa-heart"></i>
                        <span>10</span>
                    </div>
                    <div class="rounded-3xl hover:bg-[#f0f0f0] cursor-pointer px-3 py-2">
                        <i class="cursor-pointer fa-regular fa-comment"></i>
                        <span class="leading-none">1</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- Comment Overlay --}}
<div id="comment-overlay"
    class="bg-[#030303] bg-opacity-50 w-screen h-screen fixed z-20 justify-center place-items-center hidden">
    <div class="w-full md:max-w-[600px] h-full md:max-h-[50vh] bg-white md:rounded-xl relative" id="comment-container">
        <div class="relative p-4 font-bold text-center border-b border-gray-300">Reply
            <button class="absolute p-1 font-normal leading-none left-4" onclick="exitComment()">Cancel</button>
        </div>

        <div class="flex p-4 h-3/4">
            <div class="bg-white basis-1/12 min-w-10">
                <img class="rounded-full" src="./images/avatar.jpg" alt="Avatar">
            </div>

            <div class="flex flex-col pl-4 bg-white basis-11/12">
                <div class="font-medium">
                    nhatminh.22clc
                </div>
                <textarea name="comment" class="leading-5 outline-none resize-none" id="comment"
                    placeholder="What's new?" rows="1" style="scrollbar-width: none;"></textarea>
            </div>
        </div>

        <button
            class="absolute px-6 py-2 font-medium leading-none text-center text-white bg-black border border-gray-300 right-6 bottom-4 rounded-xl hover:scale-95">Post</button>
    </div>
</div>

<script>
    const submitNewThread = () => {
        const content = document.getElementById('content').value;
        if (content.trim()) {
            // Submit form
            const form = document.querySelector('form');
            form.submit();
        }
    }

    // Change mode all - following
    document.getElementById('all').addEventListener('click', function () {
        document.getElementById('all').classList.remove('opacity-40');
        document.getElementById('all').classList.add('opacity-100');
        document.getElementById('following').classList.remove('opacity-100');
        document.getElementById('following').classList.add('opacity-40');
    });
    document.getElementById('following').addEventListener('click', function () {
        document.getElementById('following').classList.remove('opacity-40');
        document.getElementById('following').classList.add('opacity-100');
        document.getElementById('all').classList.remove('opacity-100');
        document.getElementById('all').classList.add('opacity-40');
    });

    // React + Comment
    document.querySelectorAll('.fa-heart').forEach(item => {
        item.parentElement.addEventListener('click', function () {
            if (item.classList.contains('fa-regular')) {
                item.classList.remove('fa-regular');
                item.classList.add('fa-solid');
                item.classList.add('text-red-500');
                item.parentElement.querySelector('span').innerText = parseInt(item.parentElement.querySelector('span').innerText) + 1;
                item.parentElement.querySelector('span').classList.add('text-red-500');
            } else {
                item.classList.remove('text-red-500');
                item.classList.remove('fa-solid');
                item.classList.add('fa-regular');
                item.parentElement.querySelector('span').innerText = parseInt(item.parentElement.querySelector('span').innerText) - 1;
                item.parentElement.querySelector('span').classList.remove('text-red-500');
            }
        });
    });

    function exitComment() {
        document.getElementById('comment-overlay').classList.remove('flex');
        document.getElementById('comment-overlay').classList.add('hidden');
        document.getElementById('comment').value = '';
    }

    document.querySelectorAll('.fa-comment').forEach(item => {
        item.parentElement.addEventListener('click', function () {
            document.getElementById('comment-overlay').classList.remove('hidden');
            document.getElementById('comment-overlay').classList.add('flex');
        });
    });

    document.getElementById('comment-overlay').addEventListener('click', function (e) {
        const commentContainer = document.getElementById('comment-container');
        if (!commentContainer.contains(e.target)) {
            exitComment();
        }
    });
</script>