<body>
    <button class="fixed top-4 right-4 bg-black text-white text-center font-medium rounded-xl px-4 py-2">Log in</button>
    
    <div class="fixed col-span-1 w-10 h-full flex-column gap-4">
        <a href="/">
            <logo>
                <img src="/images/logo.png" alt="Simple Threads">
            </logo>
        </a>

        <div class="icons-container">
            <div class="icon" id="home-icon">
                <a href="/"><img src="/images/home.png" alt="Home"></a>
            </div>
            <div class="icon" id="search-icon">
                <a href="/search"><img src="/images/search.png" alt="Search"></a>
            </div>
            <div class="icon" id="create-icon">
                <img src="/images/create.png" alt="Create">
            </div>
            <div class="icon" id="heart-icon">
                <img src="/images/heart.png" alt="Follow">
            </div>
            <div class="icon" id="user-icon">
                <img src="/images/user.png" alt="Profile">
            </div>
        </div>

        <div class="more-icon">
            <img src="/images/more.png" alt="More">
        </div>
    </div>

    {{!-- <div class="options-container">
        <div class="all-option">All</div>
        <div class="following-option">Following</div>
    </div>

    <div class="main-container">
        <div class="question">
            <div class="avatar">
                <img src="/images/avatar.png" alt="Avatar">
            </div>
            <p>How are you today?</p>
            <button class="post-button">Post</button>
        </div>

        <div class="thread">
            <div class="avatar">
                <img src="/images/avatar.png" alt="Avatar">
            </div>
            <div class="right-container">
                <div class="username-time">
                    <div class="username">
                        nhatminh.22clc
                    </div>
                    <div class="time">
                        2h
                    </div>
                </div>
                <div class="content">
                    <p>
                        Nhật Minh
                        <br>
                        22CLC09
                        <br>
                        Phát triển ứng dụng web
                    </p>
                </div>
                <div class="like-comment">
                    <div class="heart">
                        <img src="/images/heart.png" alt="">
                        <p>10</p>
                    </div>
                    <div class="comment">
                        <img src="/images/comment.png" alt="">
                        <p>1</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="thread">
            <div class="avatar">
                <img src="/images/avatar.png" alt="Avatar">
            </div>
            <div class="right-container">
                <div class="username-time">
                    <div class="username">
                        nhatminh.22clc
                    </div>
                    <div class="time">
                        2h
                    </div>
                </div>
                <div class="content">
                    <p>
                        Nhật Minh
                        <br>
                        22CLC09
                        <br>
                        Phát triển ứng dụng web
                    </p>
                </div>
                <div class="like-comment">
                    <div class="heart">
                        <img src="/images/heart.png" alt="">
                        <p>10</p>
                    </div>
                    <div class="comment">
                        <img src="/images/comment.png" alt="">
                        <p>1</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="thread">
            <div class="avatar">
                <img src="/images/avatar.png" alt="Avatar">
            </div>
            <div class="right-container">
                <div class="username-time">
                    <div class="username">
                        nhatminh.22clc
                    </div>
                    <div class="time">
                        2h
                    </div>
                </div>
                <div class="content">
                    <p>
                        Nhật Minh
                        <br>
                        22CLC09
                        <br>
                        Phát triển ứng dụng web
                    </p>
                </div>
                <div class="like-comment">
                    <div class="heart">
                        <img src="/images/heart.png" alt="">
                        <p>10</p>
                    </div>
                    <div class="comment">
                        <img src="/images/comment.png" alt="">
                        <p>1</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="thread">
            <div class="avatar">
                <img src="/images/avatar.png" alt="Avatar">
            </div>
            <div class="right-container">
                <div class="username-time">
                    <div class="username">
                        nhatminh.22clc
                    </div>
                    <div class="time">
                        2h
                    </div>
                </div>
                <div class="content">
                    <p>
                        Nhật Minh
                        <br>
                        22CLC09
                        <br>
                        Phát triển ứng dụng web
                    </p>
                </div>
                <div class="like-comment">
                    <div class="heart">
                        <img src="/images/heart.png" alt="">
                        <p>10</p>
                    </div>
                    <div class="comment">
                        <img src="/images/comment.png" alt="">
                        <p>1</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="thread">
            <div class="avatar">
                <img src="/images/avatar.png" alt="Avatar">
            </div>
            <div class="right-container">
                <div class="username-time">
                    <div class="username">
                        nhatminh.22clc
                    </div>
                    <div class="time">
                        2h
                    </div>
                </div>
                <div class="content">
                    <p>
                        Nhật Minh
                        <br>
                        22CLC09
                        <br>
                        Phát triển ứng dụng web
                    </p>
                </div>
                <div class="like-comment">
                    <div class="heart">
                        <img src="/images/heart.png" alt="">
                        <p>10</p>
                    </div>
                    <div class="comment">
                        <img src="/images/comment.png" alt="">
                        <p>1</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="create-screen">
        <div class="create-box">
            <button id="close-create">Cancel</button>
            <div class="create-header">
                <p>New thread</p>
            </div>
        </div>
    </div> --}}
</body>

<script>
    document.getElementById("create-icon").addEventListener("click", function() {
        document.querySelector(".create-screen").style.display = "block";
        document.body.style.overflow = "hidden";
    });

    document.getElementById("close-create").addEventListener("click", function() {
        document.querySelector(".create-screen").style.display = "none";
        document.body.style.overflow = "auto";
    });
</script>

</html>