<div class="flex flex-col items-center justify-center flex-grow min-h-screen bg-white">
    <!-- Logo -->
    <a href="/"><i class="fa-brands fa-threads fa-3x"></i></a>
    <div class="text-center w-full max-w-[386px] sm-custom:max-w-[418px] p-6 gap-0 mb-2">
        <!-- Heading -->
        <h1 class="mb-4 text-xl font-bold">Log in</h1>

        <!-- Form -->
        <form action="/login" class="flex flex-col gap-2" id="login-from" method="POST" >
            <!-- Email Input -->
            <div>
                <label for="emailOrUsername" class="sr-only">Username or email</label>
                <input 
                    type="text" 
                    id="emailOrUsername"
                    class="form-control bg-[#F5F5F5] w-full p-4 outline-none rounded-xl" 
                    name="emailOrUsername" 
                    placeholder="Email or username" 
                    required
                >
            </div>
            <!-- Password Input -->
            <div>
                <label for="password" class="sr-only">Password</label>
                <input 
                    type="text" 
                    id="password"
                    class="form-control bg-[#F5F5F5] w-full p-4 outline-none rounded-xl"
                    name="password" 
                    placeholder="Password" 
                    required
                >
            </div>

            <!-- Submit Button -->
            <button id="login-button" type="submit"
                class="w-full p-4 font-medium text-white bg-black text-opacity-40 rounded-2xl"
                >
                Log in
            </button>
            {{#if loginMessage}}
                <div>
                    <div class="alert alert-warning">{{loginMessage}}</div>
                </div>
            {{/if}}
        </form>

        <div class="my-2 text-center ">
            <a href="/forgot-password" class="opacity-40"><small>Forgot password?</small></a>
        </div>

        <!-- Or divider -->
        <div class="flex items-center mb-5">
            <hr class="flex-grow">
            <small class="mx-2 opacity-40 ">or</small>
            <hr class="flex-grow">
        </div>
        

        <!-- Login with Google -->
        <button 
            type="button" 
            class="w-full p-4 mb-2 text-gray-700 border-2 border-gray-300 rounded-2xl hover:bg-gray-100"
            onclick="window.location.href='#'">
            <i class="fa-brands fa-google fa-xl me-2"></i>
            Continue with Google
        </button>


        <!-- Signup Redirect -->
        <button id="signup-button" type="button"
                class="w-full p-4 font-medium text-white bg-black rounded-2xl"
                onclick="window.location.href='/signup'">
                Sign up
        </button>
    </div>
</div>

<script>
    document.querySelectorAll('.form-control').forEach(input => {
        input.addEventListener('focus', () => {
            input.classList.add('border', 'border-gray-300');
        });
        input.addEventListener('blur', () => {
            input.classList.remove('border', 'border-gray-300');
        });
    });

    document.querySelectorAll('.form-control').forEach(input => {
        input.addEventListener('input', () => {
            const allFilled = Array.from(document.querySelectorAll('.form-control')).every(input => input.value);
            if (allFilled) {
                document.getElementById('login-button').classList.remove('text-opacity-40');
            } else {
                document.getElementById('login-button').classList.add('text-opacity-40');
            }
        });
    });

    function process(e){
        e.preventDefault();
        window.location.href = '/';
        return false;
    }

</script>
