<div class="flex flex-col items-center justify-center flex-grow min-h-screen bg-white">
    <!-- Logo -->
    <a href="/"><i class="fa-brands fa-threads fa-3x"></i></a>
    <div class="text-center w-full max-w-[386px] sm-custom:max-w-[418px] p-6 gap-0 mb-2">
        <!-- Heading -->
        <h1 class="mb-4 text-xl font-bold">Log in</h1>

        <!-- Form -->
        <form class="flex flex-col gap-2" method="POST" action="">
            <!-- Email Input -->
            <div>
                <label for="Username or email" class="sr-only">Username or email</label>
                <input 
                    type="text" 
                    id="usernameOrEmail"
                    class="form-control bg-[#F5F5F5] w-full p-4 outline-none rounded-xl" 
                    name="usernameOrEmail" 
                    placeholder="Username or email" 
                    required
                >
            </div>
            <!-- Password Input -->
            <div>
                <label for="password" class="sr-only">Password</label>
                <input 
                    type="text" 
                    id="password"
                    class="form-control bg-[#F5F5F5] w-full p-4 outline-none rounded-xl"
                    name="password" 
                    placeholder="Password" 
                    required
                >
            </div>

            <!-- Submit Button -->
            <button id="login-button" type="button"
                class="w-full p-4 font-medium text-white bg-black text-opacity-40 rounded-2xl"
                onsubmit="">
                Log in
            </button>
        </form>

        <div class="my-2 text-center ">
            <a href="/forgot-password" class="opacity-40"><small>Forgot password?</small></a>
        </div>

        <!-- Or divider -->
        <div class="flex items-center mb-5">
            <hr class="flex-grow">
            <small class="mx-2 opacity-40 ">or</small>
            <hr class="flex-grow">
        </div>
        

        <!-- Login with Google -->
        <button 
            type="button" 
            class="w-full p-4 mb-2 text-gray-700 border-2 border-gray-300 rounded-2xl hover:bg-gray-100"
            onclick="window.location.href='#'">
            <i class="fa-brands fa-google fa-xl me-2"></i>
            Continue with Google
        </button>


        <!-- Signup Redirect -->
        <button id="signup-button" type="button"
                class="w-full p-4 font-medium text-white bg-black rounded-2xl"
                onclick="window.location.href='/signup'">
                Sign up
        </button>
    </div>
</div>

<script src="/js/login.js"></script>
