<div class="flex flex-col items-center justify-center flex-grow min-h-screen bg-white">
    <!-- Logo -->
    <a href="/index"><i class="fa-brands fa-threads fa-3x"></i></a>
    <div class="text-center w-full max-w-[386px] sm-custom:max-w-[418px] p-6 gap-0 mb-2">
        
        <!-- Heading -->
        <h1 class="mb-2 text-xl font-bold">Reset password</h1>

        <p class="mb-4 opacity-40">Enter your new password.</p>

        <!-- Form -->
        <form id="resetpassword-form" class="flex flex-col gap-2" method="POST" action="#" onsubmit="process(event)">
            
            <div>
                <label for="password" class="sr-only form-lable">Password</label>
                <input type="password" id="password" 
                class="form-control bg-[#F5F5F5] w-full p-4 outline-none rounded-xl"
                name="password" placeholder="New password" required 
                onchange="validatePasswords()"
                >
            </div>

            <div>
                <label for="confirmPassword" class="sr-only form-lable">Confirm new password</label>
                <input type="password" id="confirmPassword" 
                class="form-control bg-[#F5F5F5] w-full p-4 outline-none rounded-xl"
                name="confirmPassword" placeholder="Confirm new password" required 
                oninput="validatePasswords()"
                >
            </div>
            <div class="mb-3 form-check form-check-inline">
                <input class="form-check-input" type="checkbox" 
                id="showPassword" value="true"
                    onchange="showPasswords(this.checked)">
                
                <label class="form-check-label opacity-40" for="showPassword">Show Passwords</label>
            </div>

            <!-- Submit Button -->
            <button id="send-button" type="submit"
                class="w-full p-4 font-medium text-white bg-black text-opacity-40 rounded-2xl"
                >
                Update
            </button>
        
        </form>


        <!-- Or divider -->
        <div class="flex items-center py-5 mt-4">
            <hr class="flex-grow">
            <small class="mx-2 opacity-40 ">Remembered password</small>
            <hr class="flex-grow">
        </div>


        <!-- Signup Redirect -->
        <button id="login-button" type="button"
                class="w-full p-4 font-medium text-white bg-black rounded-2xl"
                onclick="window.location.href='/login'">
                Log in
        </button>
    </div>
</div>

<script src="/js/resetpassword.js"></script>