<div class="flex flex-col items-center justify-center flex-grow min-h-screen bg-white">
    <!-- Logo -->
    <a href="/index"><i class="fa-brands fa-threads fa-3x"></i></a>
    <div class="text-center w-full max-w-[386px] sm-custom:max-w-[418px] p-6 gap-0 mb-2">
        
        <!-- Heading -->
        <h1 class="mb-2 text-xl font-bold">Reset password</h1>

        <p class="mb-4 opacity-40">Enter your new password.</p>

        <!-- Form -->
        <form id="resetPasswordForm" class="flex flex-col gap-2" method="POST" action="/reset">
            
            <div>
                <label for="password" class="sr-only form-lable">Password</label>
                <input type="password" id="password" 
                class="form-control bg-[#F5F5F5] w-full p-4 outline-none rounded-xl"
                name="password" placeholder="New password" required 
                onchange="validatePasswords()"
                >
            </div>

            <div>
                <label for="confirmPassword" class="sr-only form-lable">Confirm new password</label>
                <input type="password" id="confirmPassword" 
                class="form-control bg-[#F5F5F5] w-full p-4 outline-none rounded-xl"
                name="confirmPassword" placeholder="Confirm new password" required 
                oninput="validatePasswords()"
                >
            </div>
            <div class="mb-3 form-check form-check-inline">
                <input class="form-check-input" type="checkbox" 
                id="showPassword" value="true"
                    onchange="showPasswords(this.checked)">                
                <label class="form-check-label opacity-40" for="showPassword">Show Passwords</label>
            </div>

            {{#if message}}
            <div class="flex justify-start">
                <small class="text-left text-red-600" style="text-indent: 1rem;">{{{message}}}</small>
            </div>   
            {{/if}}
            <input type="hidden" name="email" value="{{email}}">
            <input type="hidden" name="token" value="{{token}}">
            <!-- Submit Button -->
            <button id="update-button" type="submit"
                class="w-full p-4 font-medium text-white bg-black text-opacity-40 rounded-2xl"
                >
                Update
            </button>
        
        </form>


        <!-- Or divider -->
        <div class="flex items-center py-5 mt-4">
            <hr class="flex-grow">
            <small class="mx-2 opacity-40 ">Remembered password</small>
            <hr class="flex-grow">
        </div>


        <!-- Signup Redirect -->
        <button id="loginBtn" type="button"
                class="w-full p-4 font-medium text-white bg-black rounded-2xl"
                onclick="window.location.href='/login'">
                Log in
        </button>
    </div>
</div>

<script>
    document.querySelectorAll('.form-control').forEach(input => {
        input.addEventListener('focus', () => {
            input.classList.add('border', 'border-gray-300');
        });
        input.addEventListener('blur', () => {
            input.classList.remove('border', 'border-gray-300');
        });
    });

    document.querySelectorAll('.form-control').forEach(input => {
        input.addEventListener('input', () => {
            const allFilled = Array.from(document.querySelectorAll('.form-control')).every(input => input.value);
            if (allFilled) {
                document.getElementById('update-button').classList.remove('text-opacity-40');
            } else {
                document.getElementById('update-button').classList.add('text-opacity-40');
            }
        });
    });

    function process(e){
        e.preventDefault();
        window.location.href = '/';
        return false;
    }

    function showPasswords(checked){
        let password = document.querySelector('#password');
        let confirmPassword = document.querySelector('#confirmPassword');
        if(checked){
            password.type = 'text';
            confirmPassword.type = 'text';
        }else{
            password.type = 'password';
            confirmPassword.type = 'password';
        }
    }

    function validatePasswords(){
        let password = document.getElementById('password');
        let confirmPassword = document.getElementById('confirmPassword');

        if(password.value!== confirmPassword.value){
            confirmPassword.setCustomValidity('Passwords do not match!');
            confirmPassword.reportValidity();
        } else{
            confirmPassword.setCustomValidity('');
            
        }
    }

</script>