<div class="flex flex-col items-center justify-center flex-grow min-h-screen bg-white">
    <!-- Logo -->
    <a href="/"><i class="fa-brands fa-threads fa-3x"></i></a>
    <div class="text-center w-full max-w-[386px] sm-custom:max-w-[418px] p-6 gap-0 mb-2">
        <!-- Heading -->
        <h1 class="mb-4 text-xl font-bold">Sign up</h1>
        <!-- Form -->
        <form id="signup-form" class="flex flex-col gap-2" action="/signup" method="POST"
            >
            <!-- Email input -->
            <div>
                <label for="email" class="sr-only">Email</label>
                <input type="email" id="email" class="form-control bg-[#F5F5F5] w-full p-4 outline-none rounded-xl"
                    name="email" placeholder="Email" required>
                <small id="email-error" class="hidden block text-left text-red-600" style="text-indent: 1rem;"></small>
            </div>

            <!-- Username input -->
            <div>
                <label for="username" class="sr-only">Username</label>
                <input type="text" id="username" class="form-control bg-[#F5F5F5] w-full p-4 outline-none rounded-xl"
                    name="username" placeholder="Username" required>
                <small id="username-error" class="hidden block text-left text-red-600" style="text-indent: 1rem;"></small>
            </div>

            <!-- Password Input -->
            <div>
                <label for="password" class="sr-only">Password</label>
                <input type="password" id="password"
                    class="form-control bg-[#F5F5F5] w-full p-4 outline-none rounded-xl" name="password"
                    placeholder="Password" required>
                <small id="password-error" class="hidden block text-left text-red-600" style="text-indent: 1rem;"></small>
            </div>
            {{#if signupMessage}}
            <div class="flex justify-start">
                <small class="text-left text-red-600" style="text-indent: 1rem;">{{{signupMessage}}}</small>
            </div>   
            {{/if}}

            <!-- Submit Button -->
            <button id="signup-button" type="submit"
                class="w-full p-4 font-medium text-white bg-black text-opacity-40 rounded-2xl">
                Sign up
            </button>
        </form>

        <div class="flex items-center py-5 mt-4">
            <hr class="flex-grow">
            <small class="mx-2 opacity-40 ">Already have an account?</small>
            <hr class="flex-grow">
        </div>

        <button id="loginBtn" type="button" class="w-full p-4 font-medium text-white bg-black rounded-2xl"
            onclick="window.location.href='/login'">
            Log in
        </button>
    </div>
</div>

<script>
    document.querySelectorAll('.form-control').forEach(input => {
        input.addEventListener('focus', () => {
            input.classList.add('border', 'border-gray-300');
        });
        input.addEventListener('blur', () => {
            input.classList.remove('border', 'border-gray-300');
        });
    });

    document.querySelectorAll('.form-control').forEach(input => {
        input.addEventListener('input', () => {
            const allFilled = Array.from(document.querySelectorAll('.form-control')).every(input => input.value);
            if (allFilled) {
                document.getElementById('signup-button').classList.remove('text-opacity-40');
                signupButton.disabled = false;
            } else {
                document.getElementById('signup-button').classList.add('text-opacity-40');
                signupButton.disabled = true;
            }
        });
    });
</script>