<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Threads</title>
    <link rel="stylesheet" href="/css/home-pc.css" media="screen and (min-width: 701px)">
    <link rel="stylesheet" href="/css/home-mobile.css" media="screen and (max-width: 700px)">
</head>

<body>
    <button class="login-button">Log in</button>
    <div class="navbar">
        <a href="/">
            <logo>
                <img src="/images/logo.png" alt="Simple Threads">
            </logo>
        </a>

        <div class="icons-container">
            <div class="icon">
                <img src="/images/home.png" alt="Home">
            </div>
            <div class="icon">
                <img src="/images/search.png" alt="Search">
            </div>
            <div class="icon">
                <img src="/images/create.png" alt="Create">
            </div>
            <div class="icon">
                <img src="/images/heart.png" alt="Follow">
            </div>
            <div class="icon">
                <img src="/images/user.png" alt="Profile">
            </div>
        </div>

        <div class="more-icon">
            <img src="/images/more.png" alt="More">
        </div>
    </div>

    <div class="options-container">
        <div class="all-option">All</div>
        <div class="following-option">Following</div>
    </div>

    <div class="main-container">
        <div class="question">
            <div class="avatar">
                <img src="/images/avatar.png" alt="Avatar">
            </div>
            <p>How are you today?</p>
            <button class="post-button">Post</button>
        </div>

        <div class="thread">
            <div class="avatar">
                <img src="/images/avatar.png" alt="Avatar">
            </div>
            <div class="right-container">
                <div class="username-time">
                    <div class="username">
                        nhatminh.22clc
                    </div>
                    <div class="time">
                        2h
                    </div>
                </div>
                <div class="content">
                    <p>
                        Nhật Minh
                        <br>
                        22CLC09
                        <br>
                        Phát triển ứng dụng web
                    </p>
                </div>
                <div class="like-comment">
                    <div class="heart">
                        <img src="/images/heart.png" alt="">
                        <p>10</p>
                    </div>
                    <div class="comment">
                        <img src="/images/comment.png" alt="">
                        <p>1</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="thread">
            <div class="avatar">
                <img src="/images/avatar.png" alt="Avatar">
            </div>
            <div class="right-container">
                <div class="username-time">
                    <div class="username">
                        nhatminh.22clc
                    </div>
                    <div class="time">
                        2h
                    </div>
                </div>
                <div class="content">
                    <p>
                        Nhật Minh
                        <br>
                        22CLC09
                        <br>
                        Phát triển ứng dụng web
                    </p>
                </div>
                <div class="like-comment">
                    <div class="heart">
                        <img src="/images/heart.png" alt="">
                        <p>10</p>
                    </div>
                    <div class="comment">
                        <img src="/images/comment.png" alt="">
                        <p>1</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="thread">
            <div class="avatar">
                <img src="/images/avatar.png" alt="Avatar">
            </div>
            <div class="right-container">
                <div class="username-time">
                    <div class="username">
                        nhatminh.22clc
                    </div>
                    <div class="time">
                        2h
                    </div>
                </div>
                <div class="content">
                    <p>
                        Nhật Minh
                        <br>
                        22CLC09
                        <br>
                        Phát triển ứng dụng web
                    </p>
                </div>
                <div class="like-comment">
                    <div class="heart">
                        <img src="/images/heart.png" alt="">
                        <p>10</p>
                    </div>
                    <div class="comment">
                        <img src="/images/comment.png" alt="">
                        <p>1</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="thread">
            <div class="avatar">
                <img src="/images/avatar.png" alt="Avatar">
            </div>
            <div class="right-container">
                <div class="username-time">
                    <div class="username">
                        nhatminh.22clc
                    </div>
                    <div class="time">
                        2h
                    </div>
                </div>
                <div class="content">
                    <p>
                        Nhật Minh
                        <br>
                        22CLC09
                        <br>
                        Phát triển ứng dụng web
                    </p>
                </div>
                <div class="like-comment">
                    <div class="heart">
                        <img src="/images/heart.png" alt="">
                        <p>10</p>
                    </div>
                    <div class="comment">
                        <img src="/images/comment.png" alt="">
                        <p>1</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="thread">
            <div class="avatar">
                <img src="/images/avatar.png" alt="Avatar">
            </div>
            <div class="right-container">
                <div class="username-time">
                    <div class="username">
                        nhatminh.22clc
                    </div>
                    <div class="time">
                        2h
                    </div>
                </div>
                <div class="content">
                    <p>
                        Nhật Minh
                        <br>
                        22CLC09
                        <br>
                        Phát triển ứng dụng web
                    </p>
                </div>
                <div class="like-comment">
                    <div class="heart">
                        <img src="/images/heart.png" alt="">
                        <p>10</p>
                    </div>
                    <div class="comment">
                        <img src="/images/comment.png" alt="">
                        <p>1</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>